<section id="login-page" class="w-100 h-100 d-flex justify-content-center align-items-center flex-column">
  <header>
    <h4 class="text-center mb-4">Login Form</h4>
    <p class="text-center mb-5">Angular Demo</p>
  </header>

  <article>
    <div class="d-flex justify-content-center align-items-center shadow flex-column p-5">
      <img [src]="logo" class="rounded-circle border p-1 my-3">
      <form [formGroup]="form" (ngSubmit)="submitEventHandler(form.value)">
        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" name="email">
          <mat-error *ngIf="!emailControl.hasError('required') && emailControl.hasError('email')">
            Invalid email format.
          </mat-error>
          <mat-error *ngIf="emailControl.hasError('required')">
            Invalid email.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" name="password" [type]="showPassword ? 'text' : 'password'">
          <mat-icon matSuffix [fontIcon]="showPassword ? 'visibility_off' : 'visibility'" (click)="showPassword = !showPassword; $event.stopPropagation()"></mat-icon>
          <mat-error *ngIf="!passwordControl.hasError('required') && passwordControl.hasError('minlength')">
            Invalid password length.
          </mat-error>
          <mat-error *ngIf="passwordControl.hasError('required')">
            Invalid password.
          </mat-error>
        </mat-form-field>

        <mat-error *ngIf="errorMessage.length">
          {{errorMessage}}
        </mat-error>
        <button class="btn btn-success w-100" name="submit" [disabled]="form.invalid" type="submit">Login</button>
      </form>
      <p class="small my-5">user: <strong>user@demo.com</strong> pass: <strong>123456</strong></p>
    </div>
  </article>
</section>
